@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    font-family:'Roboto Condensed';
    font-size:20px;
    padding:5%;
    background-image:url('img/pcb.jpg');
}
p
{
    text-align:justify;
    text-indent:48px;
}
p::first-letter
{
    font-size:32px;
    font-family:'Segoe Script';
}

figure
{
    text-align:center;
    font-style:italic;
    font-weight:100;
}
ul
{
    list-style:none;
}
/*
    a - Anchor
    id="name"

*/
a
{
text-decoration:none;
}
a:hover
{
    font-weight:800;
    background-color:black;
    color:white
}
a:active
{
    color:green
}
a:visited
{
    color:darkgreen;
}
:target
{
    background-color:limegreen;
}
:target::after
{
    background-color:palegreen;
}
:target ~ div
{
    border-radius:15px;
    box-shadow: 0 0 25px 25px rgba(220,220, 220, 0.7);
}
div
{
    padding:16px;
}

/*
div > p
{
стили буду применяться только к тем элементам p, которые непосредственно вложены в элемент div
    -------------------------------------------------------
    <div>
        <p>Здесь стиль применяется</p>
        <article>
        <p>А здесь уже НЕ применятся посколько нет непосредственного вложения в div</p>
        </article>
        
        
    </div>
    -------------------------------------------------------
}
*/

/*
div p
{
стили буду применяться только к тем элементам p, которые вложены в элемент div на любой уровень глубины 
     -------------------------------------------------------
    <div>
        <p>Здесь стиль применяется</p>
        <article>
        <p>А здесь также применятся поскольку такое отношение применяет стили на любом уровне вложенности
    </p>
        </article>
        
        
    </div>
    -------------------------------------------------------
}

*/

/*
div + p
{
стили буду применяться только к тем элементам p, которые непосредственно следуют за элементом div на одной глубине 
     -------------------------------------------------------
    <div>
        <p>Здесь стиль применяется</p>
        <article>
        <p>А здесь уже НЕ применятся посколько нет непосредственного вложения в div</p>
        </article>
        
        
    </div>
    -------------------------------------------------------
}

*/

/*
div ~ p
{
стили буду применяться только к всем элементам p, которые следуют за элементом div (на одной глубине) 
     -------------------------------------------------------
    <div>
        <p>Здесь стиль применяется</p>
        <article>
        <p>А здесь уже НЕ применятся посколько нет непосредственного вложения в div</p>
        </article>
        
        
    </div>
    -------------------------------------------------------
}

*/